body{
    width: 100%;
    height: 96vh;
    display: flex;
    justify-content: center;
    background-color: rgba(185, 189, 188, 0.589);
}
.container{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 40px;
}
.products{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
}
.img{
    grid-area: 1/1/2/2;
    display: block;
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 10px;
}

.pTxt{
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 3px;
}
.pTxt:hover {
    background-color: #bebcbc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.btn{
    grid-area: 4/1/5/3;
    width: 100% ;
    background-color: #752727;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.3s ease;
}

.btn:hover {
background-color: #9c0f0fc2;
}